webservices/bioDataWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://personnel.dusit.ac.th/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://personnel.dusit.ac.th/" name="bioDataWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://personnel.dusit.ac.th/" schemaLocation="bioDataWebService.xsd"/>
</xsd:schema>
</types>
<message name="bioData">
<part name="parameters" element="tns:bioData"/>
</message>
<message name="bioDataResponse">
<part name="parameters" element="tns:bioDataResponse"/>
</message>
<message name="ByCriteria">
<part name="parameters" element="tns:ByCriteria"/>
</message>
<message name="ByCriteriaResponse">
<part name="parameters" element="tns:ByCriteriaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="bioDataPortType">
<operation name="bioData">
<input message="tns:bioData"/>
<output message="tns:bioDataResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="ByCriteria">
<input message="tns:ByCriteria"/>
<output message="tns:ByCriteriaResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
</portType>
<binding name="bioDataPortBinding" type="tns:bioDataPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bioData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ByCriteria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="bioDataWebService">
<port name="bioDataPortType" binding="tns:bioDataPortBinding">
<soap:address location="http://personnel.dusit.ac.th/eprofile/webservices/bioDataWebService.php"/>
</port>
</service>
</definitions>